body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/*1st page*/
nav a{
    display: inline-block;
    padding: 10px 24px 10px 24px;
    background-color: #E02C6D;
    color: white;
    justify-content:left;
    float: right;
    margin: 42px 124px 0px 0px;
    text-decoration: none;
}
nav a:hover{
    background-color: #f0075c;
    transition: 1s;
}
nav a i{
    margin-right: 12px;
}
.first-page{
    background-color: #044383;
    padding-top: 153px;
    height: 695px;
}
.banner-and-text{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.main-text{
    margin-left: 156px;
}
.main-text h2{
    font-family: Poppins;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px;
    color: white;
    text-align: left;
}
.main-text a{
    color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-decoration: none;
    height: 44px;
    background-color: #E02C6D;
    padding: 10px 24px 10px 24px;
}
.main-text a:hover{
    background-color: #f0075c;
    transition: 1s;
}
.main-text a i{
    margin-left: 8px;
}
.banner img{
    width: 556.01px;
    height: 438px;
}
.first-page:hover .banner img{
    transition:2s;
    transform: rotatey(360deg);
}
/*secod-page*/
.second-full-page{
    margin: 60px 180px 165px 180px;    
}
.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    justify-content: center;
    grid-row-gap: 27px;
}
.card{
    padding: 15px;
    height: 474px;
    width: 300px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    transition: 1.5s;
}
.card:hover{
    box-shadow: 0px 0px 10px #044383;
    transition: 1.5s;
}
.card img{
    height: 256px;
    width: 300px;
}
.player-name{
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
}

/*third-page*/
.full-third-page{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 0px 156px;
    grid-column-gap: 66px;
}
.third-page-text h2{
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;
}
.third-page-text p{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
}
.third-page-text a{
    color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-decoration: none;
    background-color: #E02C6D;
    display: inline;
    margin-top: 24px;
    text-align: center;
    justify-content: center;
    padding: 10px 24px 10px 24px;
}
.third-page-text a:hover{
    background-color: #f0075c;
    transition: 1s;
}
.third-page-text a i{
    margin-left: 10px;
}
.match iframe{
    height: 427px;
    width: 567px;
}
/*fourth page*/
.fourth-full-page{
    height: 300px;
    background-color: black;
    margin-top: 90px;
}
.text{
    color: white;
    font-size: 40px;
    margin: 0;
    font-weight: bold;
    text-align: center;   
}
.cups{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.cup{
    text-align: center;   
}
.cup p{
    color: white;
   font-size: 25px;
}
.cup-number{
    font-size: 70px;
    color:  white;
    font-weight: bolder;
    text-shadow: 0px 3px 20px #0080ff;
}
.fourth-full-page:hover .cup p{
    transition:2s;
    transform: rotatex(360deg);
}
/*footer*/
footer{
    justify-content: center;
    margin: 168px 0px 0px 0px;
    padding-bottom: 63px;
    text-align: center;
    height: 213px;
    width: 483px;
    margin: 0 auto;   
}

.footer-items{
    border-radius: 0px;
    justify-content: center;
    margin-top: 168px;
}
.footer-items img{
    width: 483px;  
}
.icons i{
    font-size: 30px;
    width: 32px;
    color: #969BAB;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
}
.icons i:hover{
    color: #044383;
    transition:2s;
    transform: rotatey(360deg);
}

.footer-items p{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;   
}


/*CSS For PC End*/






/*media quary*/
/*mobile */
@media only screen and (max-width:600px){

   
    
    /*1st page*/
    nav a{
        display: inline-block;
        padding: 7px 18px 7px 18px;
        justify-content:right;
        float: right;
        margin: 33px 21px 0px 0px;
    }
   
    .first-page{
        padding-top: 153px;
        height: 640px;
    }
    .banner-and-text{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-row-gap: 60px;
    }
    .main-text{
        margin-left: 18px;
    }
    .main-text h2{
        font-size: 36px;
        font-style: normal;
        line-height: 50px;
        text-align: left;
    }
    .main-text a{
        color: white;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-decoration: none;
        height: 44px;
        background-color: #E02C6D;
        padding: 10px 24px 10px 24px;
    }
    .main-text a i{
        margin-left: 8px;
    }
    .banner img{
        width: 329px;
        height: 260px;
        margin-left: 8px;
    }
    /*secod-page*/
    .second-full-page{
        margin: 60px 180px 165px 180px;    
    }
    .cards{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-column-gap: 30px;
        justify-content: center;
        grid-row-gap: 27px;
    }
    .card{
        padding: 15px;
        height: 474px;
        width: 300px;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    }
    .card img{
        height: 256px;
        width: 300px;
    }
    .player-name{
        font-weight: bold;
        font-size: 28px;
        line-height: 40px;
    }
    
    /*third-page*/
    .full-third-page{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-row-gap: 29px;
        margin: 0px 16px;
        grid-column-gap: 0px;
    }
    .third-page-text h2{
        font-weight: bold;
        font-size: 30px;
        line-height: 40px;
    }
    .third-page-text p{
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0px;
    }
    .third-page-text a{
        color: white;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-decoration: none;
        background-color: #E02C6D;
        display: inline;
        margin-top: 24px;
        text-align: center;
        justify-content: center;
        padding: 10px 24px 10px 24px;
    }
    .third-page-text a i{
        margin-left: 10px;
    }
    .match iframe{
        height: 248px;
        width: 328px;
    }
        /*fourth page*/
    .fourth-full-page{
        height: 800px;
        background-color: black;
        margin-top: 90px;
    }
    .text{
        font-size: 30px;    
    }
    .cups{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .cup{
        text-align: center;   
    }
    .cup p{
        font-size: 15px;
    }
    .cup-number{
        font-size: 70px;
        color:  white;
        font-weight: bolder;
        text-shadow: 0px 3px 20px #0080ff;
    }
    
    /*footer*/
    footer{
        justify-content: center;
        margin: 43px 0px 0px 0px;
        padding-bottom: 63px;
        text-align: center;
        height: 213px;
        width: 400px;
        margin: 0 auto;   
    }
    
    .footer-items{
        border-radius: 0px;
        justify-content: center;
        margin-top: 68px;
    }
    .footer-items img{
        width: 250px;  
        margin-right: 0px;
    }
    .icons i{
        height: 32px;
        padding: 15px;
        width: 32px;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 10px;
    }
    
    .footer-items p{
        font-size: 18px;
        font-weight: 400;
        line-height: 18px;   
    }
    


}





/*tablat*/
@media only screen and (min-width: 600px) and (max-width:992px) {



/*first page*/
.first-page{
    
    padding-top: 153px;
    height: 895px;
}
.banner-and-text{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-row-gap: 40px;
}
.banner img{
    width: 556.01px;
    height: 438px;
    margin-left: 200px;
}
/*secod-page*/
.second-full-page{
    margin: 60px 180px 165px 180px;    
}
.cards{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
}
/*third-page*/
.full-third-page{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin: 0px 56px;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
}
.match iframe{
    height: 300px;
    width: 400px;
}
/*fourth page*/
.fourth-full-page{
    height: 550px;
    background-color: black;
    margin-top: 90px;
}
.text{
    color: white;
    font-size: 40px;
    margin: 0;
    font-weight: bold;
    text-align: center;
    
    
}
.cups{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.cup{
    text-align: center;
    
}
.cup p{
    color: white;
   
    font-size: 25px;
}
.cup-number{
    font-size: 70px;
    color:  white;
    font-weight: bolder;
    text-shadow: 0px 3px 20px #0080ff;
}
    
}